{{ 'section-announcement-slider.css' | asset_url | stylesheet_tag }}

<!-- Slider main container -->
<div class="announcement-slider-wrapper">    
    <div class= "announcement-slider__item-list page-width">
        <ul data-slides="{{ section.settings.columns_desktop }}" data-scroll="{{ section.settings.columns_scroll }}" class="announcement-slider">                       
              <li class = "announcement-slider__item">Slider 1</li>
             <li class = "announcement-slider__item">Slider 1</li>
             <li class = "announcement-slider__item">Slider 1</li>      
        </ul>
    </div>
</div>

{% schema %}
{
  "name": "Announcement Slider",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "Announcement Slider"     
    }
  ]
}
{% endschema %}