.announcement-slider-wrapper {
    margin: 50px 0 50px;    
}

.announcement-slider__title {
    margin-bottom: 25px;    
}

.announcement-slider__item-list {
  
   text-align: center;
}

.announcement-slider__item {
    list-style-type: none;   
    float: left;
    /* padding: 15px; */
}

.announcement-slider__item img {
    width: 230px;
    height: 180px;
}


.announcement-slider .slick-track {
        display: flex;
    }

.announcement-slider  .product-card {
        width: 100%;
    }
.announcement-slider  .slick-prev {
        left: 0;
        z-index: 999;
    }
.announcement-slider .slick-next {
        right: 0;
        z-index: 999;
    }
.announcement-slider {
   overflow: hidden;
}
   

